* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  padding: 0px;
  margin: 0px;
}

body.main {
  padding-right: 0px;
  overflow: hidden;
}

body.iframe {
  padding-right: 30px;
  overflow-y: scroll;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  padding-right: 0px;
}

.container nav {
  display: inline-block;
  width: 300px;
  height: 100vh;
  overflow-y: scroll;
  padding: 5px;
}

.container nav group {
  display: block;
}

.container nav group .modulegroup h2 {
  color: #2e4472;
  background-color: #d1d1d1;
  font-size: 1.25em;
  margin-bottom: 0px;
}

.container nav group .modulegroup .subtitle {
  margin-bottom: 15px;
  font-style: italic;
  color: #566483;
  background-color: #eeeeee;
  font-size: 0.85em;
}

.container nav group h1 {
  background-color: #646464;
  color: white;
  padding: 3px;
}

.container nav group a {
  text-decoration: none;
  color: #505050;
  display: block;
  padding: 2px;
}

.container nav group a:hover {
  color: red;
}

.container nav group .function:before {
  padding: 0.2em 0.4em 0.4em 0.4em;
  width: 0.8em;
  border-radius: 20px;
  font-size: 0.75em;
  display: inline-block;
  position: relative;
  top: -2px;
  background-color: #1e3cbe;
}

.container .content {
  padding-right: 15px;
  width: 100%;
}

.container .content .hljs {
  display: block;
  width: auto;
  margin: 0 20px 0 20px;
}

.container iframe {
  width: 100%;
  display: block;
  margin: 0 0px 0 20px;
  height: 100%;
  border: 0px;
}

.modulename {
  font-size: 1.2em;
  color: #19324b;
  border: 1px solid black;
  width: fit-content;
  padding-right: 20px;
  height: 34px;
  vertical-align: middle;
}

.modulename:before {
  content: "SM";
  display: inline-block;
  color: white;
  padding: 5px 15px 5px 5px;
  width: 22px;
  height: 22px;
  background-color: black;
  margin-right: 10px;
}

.function:before {
  content: "\0192";
  display: inline-block;
  color: white;
  padding: 0.4em 0.4em 0.4em 0.4em;
  width: 1em;
  height: 1em;
  background-color: #2a2a4d;
  margin-right: 10px;
  font-size: 0.8em;
  text-align: center;
}

block {
  display: block;
  background-color: #e6e6e6;
  width: 100%;
  height: auto;
  padding: 5px;
}

block .methodlist li {
  margin-bottom: 5px;
}

block a {
  text-decoration: none;
}

block a:hover {
  color: red;
}

block h3 {
  margin: -5px -5px -5px -5px;
  background-color: #1e2832;
  padding: 5px;
  color: white;
}

block .module-item {
  margin-right: 10px;
  font-weight: bold;
  color: #273b63;
}

block .type {
  margin-left: 10px;
  font-style: italic;
}

block li p {
  font-size: 0.85em;
}

block.methods .method-item {
  margin-right: 3px;
  font-weight: bold;
  color: #273b63;
}

block.methods .method-item.function:before {
  padding: 2px 3px 5px 3px;
  position: relative;
  top: -1px;
}

block.methods .method-vars {
  margin-left: 0px;
}

block.methods .variable {
  font-weight: bold;
  padding: 5px;
}

block.methods .variable.optional:after {
  content: "[optional]";
  position: relative;
  top: -2px;
  margin-left: 20px;
  font-weight: 0;
  font-style: italic;
  color: blue;
  font-family: monospace;
}

block.methods .type {
  font-size: 1em;
  padding: 5px 5px 5px 0px;
  margin: 0px;
}

block.methods .type:before {
  content: "Type: ";
}

block.methods .description {
  padding: 5px;
}

h3 {
  margin: 0px 0px -10px 0px;
}

pre {
  position: relative;
  width: 100%;
}

pre:before {
  content: "Example";
  display: block;
  margin: 0px;
  position: relative;
  top: 10px;
  left: 20px;
  font-size: 0.9em;
  background-color: #2a2a4d;
  padding: 3px 20px 3px 20px;
  color: white;
  width: fit-content;
  border-radius: 3px;
}

pre.inset {
  background-color: #f0f0f0;
  padding: 5px;
  width: fit-content;
}

pre.inset:before {
  display: none;
}
