// Dialogs
$color_dialog_title_background : rgb(50,120,255);
$color_dialog_title_foreground : white;
$color_dialog_content_background : rgb(240,240,240);
$color_dialog_content_foreground : black;
$color_dialog_footer_background: rgb(217, 230, 255);

// Buttons
$btn_transition_time: 0.25s;
$color_btn_default:rgb(50,100,255);
$color_btn_hover:rgb(255,255,200);

.sm-shadowed {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

.sm-dialog {
    padding:0px;
    box-sizing:border-box;
    background-color:white;
    border:1px solid black;
    font-size:0.85em;
    font-family:Arial,sans-serif;
    position:absolute;
    .title {
        background-color:$color_dialog_title_background;
        color:$color_dialog_title_foreground;
        padding:5px;
        cursor:pointer;
        font-size:1.2em;
    }
    .content {
        background-color:$color_dialog_content_background;
        color:$color_dialog_content_foreground;
        padding:5px;
        line-height: 1.3em;
        box-sizing:border-box;
        overflow-y:scroll;
    }
    .footer {
        background-color:$color_dialog_footer_background;
        border-top:$color_dialog_title_background;
        color:black;
        padding:5px;      
        text-align:right;  
    }
    .closedialog {
        float:right;
        padding:5px;
        margin:-6px -5px -5px -5px;
        user-select:none;
        &:hover {
            background-color:rgb(0,0,100);
        }
    }    
    // Developers, see https://css-tricks.com/snippets/css/complete-guide-grid/
    .sm-dialog-gripbox {
        display:grid;
        position:absolute;
        left:0px;
        top:0px;
        width:100%;
        height:100%;
        grid-template-columns: 8px auto 8px;
        grid-template-rows: 8px auto 8px;
        pointer-events:none;
        .sm-dialog-grip {
            pointer-events:all;
            box-sizing:border-box;
            border:0px solid black;
            // &:hover {
            //     background-color:green;
            // }              
            &.sm-grip-topleft {
                grid-column-start: 1;
                grid-column-end: 1;
                grid-row-start: 1;
                grid-row-end: 1;
                cursor:nw-resize;
            }
            &.sm-grip-topmiddle {
                grid-column-start: 2;
                grid-column-end: 2;
                grid-row-start: 1;
                grid-row-end: 1;
                cursor:n-resize;
            }
            &.sm-grip-topright {
                grid-column-start: 3;
                grid-column-end: 3;
                grid-row-start: 1;
                grid-row-end: 1;
                cursor:ne-resize;
            }
            &.sm-grip-midleft {
                grid-column-start: 1;
                grid-column-end: 1;
                grid-row-start: 2;
                grid-row-end: 2;
                cursor:w-resize;
            }
            &.sm-grip-midmiddle {
                grid-column-start: 2;
                grid-column-end: 2;
                grid-row-start: 2;
                grid-row-end: 2;
                display:none;             
            }
            &.sm-grip-midright {
                grid-column-start: 3;
                grid-column-end: 3;
                grid-row-start: 2;
                grid-row-end: 2;
                cursor:e-resize;
            }
            &.sm-grip-bottomleft {
                grid-column-start: 1;
                grid-column-end: 1;
                grid-row-start: 3;
                grid-row-end: 3;
                cursor:ne-resize;
            }
            &.sm-grip-bottommiddle {
                grid-column-start: 2;
                grid-column-end: 2;
                grid-row-start: 3;
                grid-row-end: 3;
                cursor:n-resize;
            }
            &.sm-grip-bottomright {
                grid-column-start: 3;
                grid-column-end: 3;
                grid-row-start: 3;
                grid-row-end: 3;
                cursor:nw-resize;
            }   
        }     
    }
}

.sm-button {
    color:white;
    background-color: $color_btn_default;
    font-size:1.2em;
    padding:5px 8px 5px 8px;
    margin:4px;
    border:0px;
    cursor:pointer;
    color:white;
    transition: color $btn_transition_time ease, background-color $btn_transition_time ease;
 
    &.btn-success {
        background-color:rgb(0,200,0);
    }
    &:hover {
        background-color:$color_btn_hover;
        color:black;
    }   
}

.sm-row {
    display:flex;
    align-content:center;
}

.sm-label {
    padding:3px;
    margin-right:10px;
  }

.sm-input {
    width:100%;
    background-color:$color_dialog_footer_background;
    border:1px solid $color_dialog_title_background;
    padding:3px;
}



