.sm-shadowed {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.sm-dialog {
  padding: 0px;
  box-sizing: border-box;
  background-color: white;
  border: 1px solid black;
  font-size: 0.85em;
  font-family: Arial,sans-serif;
  position: absolute;
}

.sm-dialog .title {
  background-color: #3278ff;
  color: white;
  padding: 5px;
  cursor: pointer;
  font-size: 1.2em;
}

.sm-dialog .content {
  background-color: #f0f0f0;
  color: black;
  padding: 5px;
  line-height: 1.3em;
  box-sizing: border-box;
}

.sm-dialog .footer {
  background-color: #d9e6ff;
  border-top: #3278ff;
  color: black;
  padding: 5px;
  text-align: right;
}

.sm-dialog .closedialog {
  float: right;
  padding: 5px;
  margin: -6px -5px -5px -5px;
  user-select: none;
}

.sm-dialog .closedialog:hover {
  background-color: #000064;
}

.sm-dialog .sm-dialog-gripbox {
  display: grid;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  grid-template-columns: 8px auto 8px;
  grid-template-rows: 8px auto 8px;
  pointer-events: none;
}

.sm-dialog .sm-dialog-gripbox .sm-dialog-grip {
  pointer-events: all;
  box-sizing: border-box;
  border: 0px solid black;
}

.sm-dialog .sm-dialog-gripbox .sm-dialog-grip.sm-grip-topleft {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
  cursor: nw-resize;
}

.sm-dialog .sm-dialog-gripbox .sm-dialog-grip.sm-grip-topmiddle {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  cursor: n-resize;
}

.sm-dialog .sm-dialog-gripbox .sm-dialog-grip.sm-grip-topright {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
  cursor: ne-resize;
}

.sm-dialog .sm-dialog-gripbox .sm-dialog-grip.sm-grip-midleft {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;
  cursor: w-resize;
}

.sm-dialog .sm-dialog-gripbox .sm-dialog-grip.sm-grip-midmiddle {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
  display: none;
}

.sm-dialog .sm-dialog-gripbox .sm-dialog-grip.sm-grip-midright {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
  cursor: e-resize;
}

.sm-dialog .sm-dialog-gripbox .sm-dialog-grip.sm-grip-bottomleft {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 3;
  grid-row-end: 3;
  cursor: ne-resize;
}

.sm-dialog .sm-dialog-gripbox .sm-dialog-grip.sm-grip-bottommiddle {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 3;
  cursor: n-resize;
}

.sm-dialog .sm-dialog-gripbox .sm-dialog-grip.sm-grip-bottomright {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 3;
  cursor: nw-resize;
}

.sm-button {
  color: white;
  background-color: #3264ff;
  font-size: 1.2em;
  padding: 5px 8px 5px 8px;
  margin: 4px;
  border: 0px;
  cursor: pointer;
  color: white;
  transition: color 0.25s ease, background-color 0.25s ease;
}

.sm-button.btn-success {
  background-color: #00c800;
}

.sm-button:hover {
  background-color: #ffffc8;
  color: black;
}

.sm-row {
  display: flex;
  align-content: center;
}

.sm-label {
  padding: 3px;
  margin-right: 10px;
}

.sm-input {
  width: 100%;
  background-color: #d9e6ff;
  border: 1px solid #3278ff;
  padding: 3px;
}
